.container-fluid {
  background-color: #f8f8f8;
}
.header {
  display: flex;
  padding: 0.5rem 2rem;
}

.left {
  display: flex;
  gap: 1.5rem;
}

.logo {
  padding-top: 1rem;
}

.business-developement {
  padding-top: 1rem;
}

.clinical {
  padding-top: 1rem;
}

.admin {
  padding-top: 1rem;
}

.graph-kpi {
  display: flex;
}

.kpi-cards {
  box-shadow: 5px 5px 3px lightgrey;
  height: 5rem;
  width: 10rem;
  text-align: center;
  padding: 1rem;
  background-color: #f8f8f8;
}

.accordian-cards {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.main-kpi {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 3rem;
}

.accordian-val {
  display: flex;
  flex-direction: column;
}

.acc-name {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.acc-val {
  font-size: 14px;
  text-align: center;
}

.main-acc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.name-list {
  padding-left: 1rem;
  color: red;
  text-decoration: underline;
  font-weight: 600;
}

.loader {
  display: flex;
  margin: 10rem auto;
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid #3498db;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.No-404 {
  display: flex;
  justify-content: center;
  margin: 10rem auto;
  font-size: 4rem;
  font-weight: 800;
}

.homePage {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  padding: 16px 3px;
}

.homePage-after {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: 1px solid;
  cursor: pointer;
  background-color: black;
  font-weight: 600;
  padding: 16px 3px;
}

.option-list {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
}

.pie-chart {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  padding: 16px 3px;
}

.pie-chart-after {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: 1px solid;
  cursor: pointer;
  background-color: black;
  font-weight: 600;
  padding: 16px 3px;
}

.ver-chart {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  padding: 16px 3px;
}

.ver-chart-after {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: 1px solid;
  cursor: pointer;
  background-color: black;
  font-weight: 600;
  padding: 16px 3px;
}

.hori-chart {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  padding: 16px 3px;
}

.hori-chart-after {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: 1px solid;
  cursor: pointer;
  background-color: black;
  font-weight: 600;
  padding: 16px 3px;
}

.donut-chart {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  padding: 16px 3px;
}

.donut-chart-after {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: 1px solid;
  cursor: pointer;
  background-color: black;
  font-weight: 600;
  padding: 16px 3px;
}

.sensex-chart {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  padding: 16px 3px;
}

.sensex-chart-after {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: 1px solid;
  cursor: pointer;
  background-color: black;
  font-weight: 600;
  padding: 16px 3px;
}

.scatter-chart {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: 600;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  padding: 16px 3px;
}

.scatter-chart-after {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  border: 1px solid;
  cursor: pointer;
  background-color: black;
  font-weight: 600;
  padding: 16px 3px;
}
