.container-fluid {
  background-color: #f8f8f8;
}
.header {
  display: flex;
  padding: 0.5rem 2rem;
}

.left {
  display: flex;
  gap: 2rem;
}

.logo {
  padding-top: 1rem;
}

.business-developement {
  padding-top: 1rem;
}

.clinical {
  padding-top: 1rem;
}

.admin {
  padding-top: 1rem;
}

.graph-kpi {
  display: flex;
}

.kpi-cards {
  box-shadow: 5px 5px 3px lightgrey;
  height: 5rem;
  width: 10rem;
  text-align: center;
  padding: 1rem;
  background-color: #f8f8f8;
}

.accordian-cards {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.main-kpi {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 3rem;
}

.accordian-val {
  display: flex;
  flex-direction: column;
}

.acc-name {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.acc-val {
  font-size: 14px;
  text-align: center;
}

.main-acc {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}
